<?xml version="1.0" encoding="UTF-8"?>
<!-- xml문서의 유효성 체크를 위해 필요한 부분 -->
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.kh.efp.member.model.vo.Member" alias = "Member"/>
		<typeAlias type="com.kh.efp.band.model.vo.Scehdule" alias = "Scehdule"/>
		<typeAlias type="com.kh.efp.band.model.vo.Member_Band" alias = "Member_Band"/>
		<typeAlias type="com.kh.efp.band.model.vo.Band" alias = "Band"/>
		<typeAlias type="com.kh.efp.band.model.vo.Ban" alias = "Ban2"/>
		<typeAlias type="com.kh.efp.band.model.vo.BanMemberList" alias = "BanMemberList"/>
		<typeAlias type="com.kh.efp.newPost.model.vo.Category" alias = "Category"/>
		<typeAlias type="com.kh.efp.newPost.model.vo.BandProfile" alias = "BandProfile"/>
		<typeAlias type="com.kh.efp.newPost.model.vo.BandMemberCount" alias = "BandMemberCount"/>
		<typeAlias type="com.kh.efp.newPost.model.vo.Boards" alias = "Boards"/>
		<typeAlias type="com.kh.efp.newPost.model.vo.MemberProfile" alias = "MemberProfile"/>
		<typeAlias type="com.kh.efp.member.model.vo.Profile" alias = "Profile"/>
		<typeAlias type="com.kh.efp.Search.model.vo.Search" alias = "Search"/>
		<typeAlias type="com.kh.efp.member_band.model.vo.BandList" alias = "BandList"/>
		<typeAlias type="com.kh.efp.member_band.model.vo.BoardList" alias = "BoardList"/>
		<typeAlias type="com.kh.efp.Search.model.vo.Ban" alias = "Ban"/>
		<typeAlias type="com.kh.efp.mainPage.model.vo.MyBandList" alias = "MyBandList"/>
    <typeAlias type="com.kh.efp.mainPage.model.vo.PopularContents" alias="PopularContent"/>
		<typeAlias type="com.kh.efp.member.model.vo.loginUser" alias = "loginUser"/>
		<typeAlias type="com.kh.efp.band.model.vo.Board" alias = "Board"/>
		<typeAlias type="com.kh.efp.category.model.vo.CategoryBandList" alias = "CategoryBandList"/>
    

		
	</typeAliases>

	<mappers>
		<mapper resource="mappers/member-mapper.xml"/>
		<mapper resource="mappers/scehdule-mapper.xml"/>
		<mapper resource="mappers/search-mapper.xml"/>
		<mapper resource="mappers/member_band-mapper.xml"/>
		<mapper resource="mappers/login-mapper.xml"/>
		<mapper resource="mappers/bandLeader-mapper.xml"/>
		<mapper resource="mappers/newPost-mapper.xml"/>
		<mapper resource="mappers/board-mapper.xml"/>
		<mapper resource="mappers/category-mapper.xml"/>
    <mapper resource="mappers/main-mapper.xml"/>
	</mappers>
	
	
</configuration>

















