<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="Admin">
	<resultMap type="AdmMemberList" id="adMember">
		<id property="mid" column="MID"/>
		<result property="mEmail" column="MEMAIL"/>
		<result property="mName" column="MNAME"/>
		<result property="mPhone" column="MPHONE"/> 
		<result property="mNational" column="MNATIONAL"/> 
		<result property="mDate" column="MDATE"/>
		<result property="mType" column="MTYPE"/>
	</resultMap>
	<resultMap type="AdmBandList" id="adBand">
		<id property="bid" column="BID"/>
		<result property="bname" column="BNAME"/>
		<result property="cname" column="CNAME"/>
		<result property="bopen_status" column="BOPEN_STATUS"/>
	</resultMap>
	<resultMap type="Member" id="searchMember">
		<id property="mid" column="MID"/>
		<result property="mEmail" column="MEMAIL"/>
		<result property="mPhone" column="MPHONE"/>
		<result property="mNational" column="MNATIONAL"/>
		<result property="mDate" column="MDATE"/>
		<result property="mType" column="MTYPE"/>
	</resultMap>
	<resultMap type="AdmBandList" id="searchBand">
		<id property="bid" column="BID"/>
		<result property="bname" column="BNAME"/>
		<result property="cname" column="CNAME"/>
		<result property="bopen_status" column="BOPEN_STATUS"/>
		<result property="mname" column="MNAME"/>
	</resultMap>
	<resultMap type="ReportList" id="reportMember">
		<id property="cid" column="CID"/>
		<result property="mcname" column="MNAME"/>
		<result property="memail" column="MEMAIL"/>
		<result property="times" column="TIMES"/>
	</resultMap>
	<resultMap type="ReportList" id="showReportMember">
		<id property="mname" column="MNAME"/>
		<result property="cid" column="cid"/>
		<result property="bname" column="BNAME"/>
		<result property="bcontent" column="BCONTENT"/>
		<result property="rdate" column="RDATE"/>
		<result property="rcontent" column="RCONTENT"/>
	</resultMap>

	<resultMap type="ReportList" id="reportBand">
		<id property="bid" column="BID"/>
		<result property="bname" column="BNAME"/>
		<result property="mbname" column="MNAME"/>
		<result property="bopen_status" column="BOPEN_STATUS"/>
		<result property="times" column="TIMES"/>
	</resultMap>
	<resultMap type="ReportList" id="showReportBand">
		<id property="mname" column="MNAME"/>
		<result property="rdate" column="RDATE"/>
		<result property="rcontent" column="RCONTENT"/>
		<result property="bname" column="BNAME"/>
		<result property="boardid" column="BOARDID"/>
		<result property="ref_bid" column="REF_BID"/>
	</resultMap>
	
	<resultMap type="BanList" id="banMember">
		<id property="mid" column="MID"/>
		<result property="memail" column="MEMAIL"/>
		<result property="mname" column="MNAME"/>
		<result property="mphone" column="MPHONE"/>
		<result property="mnational" column="MNATIONAL"/>
		<result property="mdate" column="MDATE"/>
		<result property="mtype" column="MTYPE"/>
		<result property="banreason" column="BANREASON"/>
	</resultMap>
	<resultMap type="BanList" id="banBand">
		<id property="bid" column="BID"/>
		<result property="bname" column="BNAME"/>
		<result property="cname" column="CNAME"/>
		<result property="bopen_status" column="BOPEN_STATUS"/>
		<result property="mname" column="MNAME"/>
		<result property="banreason" column="BANREASON"/>
	</resultMap>	
	
	
	<!-- 전체 멤버 갯수 조회 -->
	<select id="countAllMember" resultType="_int">
		select count(mid)
		from (SELECT MID
      		  FROM MEMBER
      		  WHERE MID != 0
      		  AND MSTATUS = 'Y')
	</select>
	<!-- 전체 멤버 리스트 조회 -->
	<select id="selectAllMember" resultMap="adMember">
		SELECT MID, MEMAIL, MNAME, MPHONE, MNATIONAL, MDATE, 
       		 		DECODE(mtype, 'LOCAL', '로컬', 'FB', '페이스북', 'NAVER', '네이버', 'GOOGLE', '구글') mType
     	FROM MEMBER
     	WHERE MID != 0
     	AND MSTATUS = 'Y'
     	order by mid asc
	</select>
	<!-- 전체 밴드 갯수 조회 -->
	<select id="countAllBand" resultType="_int">
		select COUNT(b.bid)
		from band b
		WHERE B.BSTATUS = 'Y'
	</select>
	<!-- 전체 밴드 리스트 조회 -->
	<select id="selectAllBand" resultMap="adBand">
		select b.bid, b.bname, c.cname, DECODE(b.bopen_status, 'PRV', '비공개 밴드', 'PTD', '밴드명 공개', 'PUB', '공개 밴드') bopen_status
		from band b
		join category c on(c.cid = b.cid)
		WHERE B.BSTATUS = 'Y'
		order by bid asc
	</select>
	<!-- 회원 검색 갯수 조회 -->
	<select id="countSearchMember" resultType="_int" parameterType="java.lang.String">
		select COUNT(mid)
		from member
		where mname like '%' || #{keyword} || '%'
		AND MSTATUS = 'Y'
	</select>
	<!-- 회원 검색 리스트 조회 -->
	<select id="searchMember" resultMap="searchMember" parameterType="java.lang.String">
		select mid, memail, mname, mphone, mnational, mdate, DECODE(mtype, 'LOCA', '로컬', 'FB', '페이스북', 'NAVER', '네이버', 'GOOGLE', '구글') mType
		from member
		where mname like '%' || #{keyword} || '%'
		AND MSTATUS = 'Y'
	</select>
	<!-- 밴드 검색 (이름으로)갯수 조회 -->
	<select id="countSearchBandByName" resultType="_int" parameterType="java.lang.String">
		select COUNT(b.bid)
		from band b
		where b.bname like '%' || #{keyword} || '%'
		AND B.BSTATUS = 'Y'
	</select>
	<!-- 밴드 검색(이름으로) 리스트 조회 -->
	<select id="searchBandByName" resultMap="searchBand" parameterType="java.lang.String">
		select b.bid, b.bname, c.cname, DECODE(b.bopen_status, 'PRV', '비공개 밴드', 'PTD', '밴드명 공개', 'PUB', '공개 밴드') bopen_status, tb.mname
		from band b
		join category c on(c.cid = b.cid)
		join (select mb.bid, mb.mid, mb.mlevel, m.mname
		      from member_band mb
		      join member m on(mb.mid = m.mid)
		      where mlevel = 1) tb on(tb.bid = b.bid)
		where b.bname like '%' || #{keyword} || '%'
		AND B.BSTATUS = 'Y'
	</select>
	<!-- 밴드 검색(밴드장으로) 갯수 조회 -->
	<select id="countSearchBandByMaster" resultType="_int" parameterType="java.lang.String">
		select COUNT(tb.mname)
		from band b
		join (select mb.bid, mb.mid, mb.mlevel, m.mname
     		  from member_band mb
      		  join member m on(mb.mid = m.mid)
      		  where mlevel = 1) tb on(tb.bid = b.bid)
		where tb.mname like '%' || #{keyword} || '%'
		AND B.BSTATUS = 'Y'
	</select>
	<!-- 밴드 검색(밴드장으로) 리스트 조회 -->
	<select id="searchBandByMaster" resultMap="searchBand" parameterType="java.lang.String">
		select b.bid, b.bname, c.cname, DECODE(b.bopen_status, 'PRV', '비공개 밴드', 'PTD', '밴드명 공개', 'PUB', '공개 밴드') bopen_status, tb.mname
		from band b
		join category c on(c.cid = b.cid)
		join (select mb.bid, mb.mid, mb.mlevel, m.mname
		      from member_band mb
		      join member m on(mb.mid = m.mid)
		      where mlevel = 1) tb on(tb.bid = b.bid)
		where tb.mname like '%' || #{keyword} || '%'
		AND B.BSTATUS = 'Y'
	</select>
	<!-- 신고받은 회원 갯수 조회 -->
	<select id="countReportMember" resultType="_int">
		SELECT COUNT(ROWNUM)
		FROM(SELECT ROWNUM, R.CID, M.MNAME, M.MEMAIL, R.TIMES
		     FROM(SELECT CID, COUNT(RID) AS TIMES
		          FROM REPORT
		          GROUP BY CID) R
		     JOIN MEMBER M ON (R.CID = M.MID)
		     WHERE M.MSTATUS = 'Y'
		     ORDER BY R.TIMES DESC)
	</select>
	<!-- 신고받은 회원 리스트 조회 -->
	<select id="selectReportMember" resultMap="reportMember">
		SELECT R.CID, M.MNAME, M.MEMAIL, R.TIMES
		FROM (SELECT CID, COUNT(RID) AS TIMES
		      FROM REPORT
		      GROUP BY CID) R
		JOIN MEMBER M ON (R.CID = M.MID)
		WHERE M.MSTATUS = 'Y'
		ORDER BY R.TIMES DESC
	</select>
	<!-- 신고받은 회원 상세정보 갯수 조회 -->
	<select id="countShowReportMember" parameterType="_int" resultType="_int">
	select count(rownum)
	from(select rownum, m.mname, b.bname, r.rdate, r.rcontent
	     from report r
	     join member m on (r.mid = m.mid)
	     join band b on (b.bid = r.bid)
	     where r.cid = #{mid}
	     and m.mstatus = 'Y')
	</select>
	<!-- 신고받은 회원 상세정보 조회 -->
	<select id="showReportMember" parameterType="_int" resultMap="showReportMember">
		select r.cid, m.mname, b.bname, r.rdate, r.rcontent
		from report r
		join member m on (r.mid = m.mid)
		join band b on (b.bid = r.bid)
		where m.mstatus = 'Y'
		and r.cid = #{mid}
	</select>
	<!-- 신고받은 회원 Ban테이블에 저장하기 -->
	<insert id="insertBlackMember" parameterType="BanReason">
		INSERT INTO BAN
		VALUES(SEQ_BANID.NEXTVAL, NULL, #{cid}, 'M', #{banReason})
	</insert>
	<!-- 신고받은 회원  차단하기 -->
	<update id="updateMember" parameterType="_int">
		UPDATE MEMBER SET MSTATUS = 'N'
		WHERE MID = #{cid}
	</update>
	<!-- 신고받은 회원 밴드에서 탈퇴시키기 -->
	<update id="updateMemberBand" parameterType="_int">
		UPDATE MEMBER_BAND SET ISTATUS = 'N'
		WHERE MID = #{cid}
	</update>
	<!-- 신고받은 밴드 갯수 조회 -->
	<select id="countReportBand" resultType="_int">
		select count(bid)
	    from(select f.bid, b.bname, m.mname, DECODE(b.bopen_status, 'PTD', '비공개 밴드', 'PRV', '밴드명 공개', 'PUB', '공개 밴드') as bopen_status, f.times
			 from(select r.bid, count(r.bid) as times
			      from report r
			      group by r.bid) f
			 join band b on(f.bid = b.bid)
			 join member_band mb on (b.bid = mb.bid)
			 join member m on (mb.mid = m.mid)
			 where mb.mlevel = 1
			 and b.bstatus='Y'
			 order by f.times desc)
	</select>
	<!-- 신고받은 밴드 리스트 조회 -->
	<select id="selectReportBand" resultMap="reportBand">
		select f.bid, b.bname, m.mname, DECODE(b.bopen_status, 'PTD', '비공개 밴드', 'PRV', '밴드명 공개', 'PUB', '공개 밴드') as bopen_status, f.times
		from(select r.bid, count(r.bid) as times
		     from report r
		     group by r.bid) f
		join band b on(f.bid = b.bid)
		join member_band mb on (b.bid = mb.bid)
		join member m on (mb.mid = m.mid)
		where mb.mlevel = 1
		and b.bstatus='Y'
		order by f.times desc
	</select>
	<!-- 신고받은 밴드 상세정보 갯수 조회 -->
	<select id="countShowReportBand" parameterType="_int" resultType="_int">
		select count(rownum)
		from(select rownum, m.mname, r.rdate, r.rcontent, b.bname
		     from report r
		     join member m on (r.mid = m.mid)
		     join band b on (r.bid = b.bid)
		     where b.bid = #{bid})
	</select>
	<!-- 신고받은 밴드 상세정보 조회 -->
	<select id="showReportBand" parameterType="_int" resultMap="showReportBand">
		select m.mname, r.rdate, r.rcontent, r.bid
		from report r
		join member m on (r.mid = m.mid)
		join band b on (r.bid = b.bid)
		where b.bid = #{bid}
	</select>
	<!-- 신고받은 밴드 Ban 테이블에 저장하기 -->
	<insert id="insertBlackBand" parameterType="BanReason">
		INSERT INTO BAN
		VALUES(SEQ_BANID.NEXTVAL, #{bid}, NULL, 'B', #{banReason})
	</insert>
	<!-- 신고받은 밴드 차단하기 -->
	<update id="updateBand" parameterType="_int">
		UPDATE BAND SET BSTATUS = 'N'
		WHERE BID = #{bid}
	</update>
	<!-- 차단당한 회원 갯수 조회 -->
	<select id="countBanMember" resultType="_int">
		SELECT COUNT(MID)
		FROM(select ba.mid, m.memail, m.mname, m.mphone, m.mnational, m.mdate, DECODE(m.mtype, 'LOCAL', '로컬', 'FB', '페이스북', 'NAVER', '네이버', 'GOOGLE', '구글') mType, ba.banreason
		     from ban ba
		     join member m on (ba.mid = m.mid)
		     where ba.bid is null)
	</select>
	<!-- 차단당한 회원 리스트 조회 -->
	<select id="selectBanMember" resultMap="banMember">
		select ba.mid, m.memail, m.mname, m.mphone, m.mnational, m.mdate, 
			   DECODE(m.mtype, 'LOCAL', '로컬', 'FB', '페이스북', 'NAVER', '네이버', 'GOOGLE', '구글') mType, ba.banreason
		from ban ba
		join member m on (ba.mid = m.mid)
		where ba.bid is null
		order by ba.mid asc
	</select>
	<!-- 차단당한 밴드 갯수 조회 -->
	<select id="countBanBand" resultType="_int">
		SELECT COUNT(BID)
		FROM(select ba.bid, b.bname, c.cname, DECODE(b.bopen_status, 'PTD', '비공개 밴드', 'PRV', '밴드명 공개', 'PUB', '공개 밴드') as bopen_status, m.mname, ba.banreason
		     from ban ba
		     join band b on (ba.bid = b.bid)
		     join category c on (b.cid = c.cid)
		     join member_band mb on (b.bid = mb.bid)
		     join member m on (mb.mid = m.mid)
		     where mb.mlevel = 1
		     and ba.mid is null)
	</select>
	<!-- 차단당한 밴드 리스트 조회 -->
	<select id="selectBanBand" resultMap="banBand">
		select ba.bid, b.bname, c.cname, DECODE(b.bopen_status, 'PTD', '비공개 밴드', 'PRV', '밴드명 공개', 'PUB', '공개 밴드') as bopen_status, m.mname, ba.banreason
		from ban ba
		join band b on (ba.bid = b.bid)
		join category c on (b.cid = c.cid)
		join member_band mb on (b.bid = mb.bid)
		join member m on (mb.mid = m.mid)
		where mb.mlevel = 1
		and ba.mid is null
		order by ba.bid asc
	</select>
</mapper>