<?xml version="1.0" encoding="UTF-8"?>
 
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="board">
	
	<resultMap type="Board" id="BoarddResultSet">
		<id property="boardId" column="BOARDID" /> 
		<result property="bId" column="BID" />
		<result property="mId" column="MID" />
		<result property="bContent" column="BCONTENT" />
		<result property="bDate" column="BDATE" />
		<result property="bStatus" column="BSTATUS" />
		<result property="refStatus" column="REF_STATUS" />
		<result property="refBId" column="REF_BID" />
	</resultMap>
	
	
	<resultMap type="Band" id="BandResultSet">
		<id property="bid" column="BID" />
		<result property="bname" column="BNAME" />
		<result property="bopen_status" column="BOPEN_STATUS" />
		<result property="bintro" column="BINTRO" />
		<result property="cid" column="CID" />
		<result property="binvite_code" column="BINVITE_CODE" />
		<result property="bstatus" column="BSTATUS" />
	</resultMap>
	
	<resultMap type="Boards" id="BoardsResultSet">
		<id property="boardid" column="BOARDID" />
		<result property="bid" column="BID" />
		<result property="mid" column="MID" />
		<result property="bcontent" column="BCONTENT" />
		<result property="bdate" column="BDATE" />
		<result property="bstatus" column="BSTATUS" />
		<result property="ref_status" column="REF_STATUS" />
		<result property="ref_bid" column="REF_BID" />
	</resultMap>

	<resultMap type="Member" id="memberResultSet">
		<id property="mid" column="MID" />
		<result property="mEmail" column="MEMAIL" />
		<result property="mPwd" column="MPWD" />
		<result property="mToken" column="MTOKEN" />
		<result property="mType" column="MTYPE" />
		<result property="mName" column="MNAME" />
		<result property="mPhone" column="MPHONE" />
		<result property="mDate" column="MDATE" />
		<result property="mStatus" column="MSTATUS" />
		<result property="mNational" column="MNATIONAL" />
	</resultMap>
	
	<resultMap type="MemberProfile" id="MemberProfileResultSet">
		<id property="mid" column="MID" />
		<result property="mname" column="MNAME" />
		<result property="edit_name" column="EDIT_NAME" />
	</resultMap>
	


	<resultMap type="Attfile" id="AttResultSet">
		<id property = "fid" column="FID"/>
		<result property = "boardId" column ="BOARDID"/>
		<result property = "forigin_name" column="FORIGIN_NAME"/>
		<result property = "edit_name" column="EDIT_NAME"/>
		<result property = "file_src" column ="FILE_SRC"/>
		<result property ="fdate" column="FDATE"/>
		<result property ="flevel" column="FLEVEL"/>
	</resultMap>
	
	<resultMap type ="AttBoard" id = "AttBoardResultSet">
		<id property="boardId" column="BOARDID" />
		<result property="bId" column="BID" />
		<result property="mId" column="MID" />
		<result property="bContent" column="BCONTENT" />
		<result property="bDate" column="BDATE" />
		<result property="bStatus" column="BSTATUS" />
		<result property="refStatus" column="REF_STATUS" />
		<result property="refBId" column="REF_BID" />
		<result property = "mName" column="MNAME"/>
		<result property = "fid" column="FID"/>
		<result property = "forigin_name" column="FORIGIN_NAME"/>
		<result property = "edit_name" column="EDIT_NAME"/>
		<result property = "file_src" column ="FILE_SRC"/>
		<result property ="fdate" column="FDATE"/>
		<result property ="flevel" column="FLEVEL"/>
	</resultMap>
	
	
	<!-- 01.전체목록조회 -->
	<select id="listAll" parameterType="int" resultMap="BoarddResultSet" >
	SELECT *
	FROM BOARDS 
	WHERE BSTATUS ='Y' AND BID = #{pbid}
	ORDER BY BDATE DESC
	</select>
 	
 	
 	<!-- 02.게시글 작성 -->
 	
 	<insert id ="insert">
 	INSERT INTO BOARDS VALUES(SEQ_BOARDID.NEXTVAL,
 	#{bId},#{mId},#{bContent},SYSDATE,'Y','CONTENT',NULL
 	)
 	</insert>
 
 	<!-- 03.게시글 상세보기 조회 -->
	<select id="view" resultType="Board">
	SELECT * FROM BOARDS B
	JOIN MEMBER M ON(B.MID=M.MID)
	WHERE B.MID=#{mid} AND B.BSTATUS ='Y'
	
	</select>
	
	
	<!-- 수정화면 -->
	<select id="selectBoard" parameterType="Board" resultMap="BoarddResultSet">
	SELECT * 
	FROM BOARDS
	WHERE BSTATUS = 'Y' AND BOARDID=#{boardId} AND MID=#{mId}
	</select>
	

	<!-- 05.수정 처리 -->
<!-- 	<update id="updateArticle"> -->
<!-- 	UPDATE BOARDS SET -->
<!-- 	bContent = #{bContent} -->
<!-- 	WHERE SEQ_BOARDID.NEXTVAL=#{SEQ_BOARDID.NEXTVAL}  -->
<!-- 	</update>
	 -->
	
	
	<update id="updateArticle" parameterType="board">
		UPDATE BOARDS SET 
		bContent = #{bContent}
		<!-- WHERE SEQ_BOARDID.NEXTVAL=#{SEQ_BOARDID.NEXTVAL} -->
		WHERE BOARDID=#{boardId}
	</update>
	
	
	<!-- 06.삭제 -->
<!-- 	<delete id = "deleteArticle"> -->
<!-- 	DELETE FROM -->
<!-- 	WHERE -->
	<!-- </delete> -->
	
	<delete id="deleteArticle" parameterType="int">
		DELETE
		FROM BOARDS
		WHERE SEQ_BOARDID.NEXTVAL=#{SEQ_BOARDID.NEXTVAL}
	
	</delete>
	
	
	
	
	<!-- 멤버 정보를 가져오는 메소드 -->
	<select id = "selectMember" parameterType = "int" resultMap = "memberResultSet">
		SELECT *
		FROM MEMBER
		WHERE MID = #{mid}
	</select>
	
	
	<!-- 밴드 프로필 메소드 -->
	<select id = "selectBandProfile" parameterType = "int" resultMap = "BandResultSet">
		SELECT B.BID, B.BNAME
		FROM MEMBER M
		JOIN MEMBER_BAND MB ON(MB.MID = M.MID)
		JOIN BAND B ON(B.BID = MB.BID)
		WHERE M.MEMAIL = #{memail}
		AND B.BSTATUS = 'Y'
		AND MB.ISTATUS = 'Y'
	</select>
	
	<!-- 전체 밴드 목록 메소드 -->
	<select id = "selectAllBandList" resultMap = "BandResultSet">
		SELECT * FROM BAND
		WHERE BSTATUS = 'Y' AND BOPEN_STATUS != 'PRV'
	</select>
	
	<!-- 전체 밴드 목록 메소드 -->
	<select id = "selectBandMemberCount" parameterType = "int" resultType = "int">
		SELECT COUNT(*) AS MCOUNT
		FROM MEMBER_BAND
		WHERE BID = #{bid}
		AND ISTATUS = 'Y'
	</select>
	
		<!-- 댓글 목록을 가져오는 메소드 -->
	 <select id = "selectCommentList" parameterType = "Board" resultMap = "BoarddResultSet">
		SELECT *
		FROM BOARDS
		WHERE BID = #{bId} AND BSTATUS = 'Y' AND REF_STATUS = 'COMMENT' ORDER BY BDATE
	</select>
	
	<!-- 댓글을 등록하는 메소드 -->
	<insert id="insertNewPost" parameterType="Board">
		INSERT INTO BOARDS
		 VALUES(SEQ_BOARDID.NEXTVAL, #{bId}, #{mId}, #{bContent}, SYSDATE, #{bStatus}, #{refStatus}, #{refBid})
	</insert>
	
	
	
	
	
	
	
	<delete id="deleteBoard" parameterType="int">
		DELETE FROM BOARDS WHERE BOARDID = #{boardid}
	</delete>
	
	<update id="updateBoard" parameterType="Board">
		UPDATE BOARDS SET BCONTENT = #{bContent}, BDATE = SYSDATE WHERE BOARDID = #{boardId}
	</update>
	
	
	<!-- 댓글 -->
	
	
	
	 <select id = "selectBoardCount" parameterType = "int" resultType = "int">
		SELECT count(*)
		FROM BOARDS
		WHERE BID = #{pbid}  AND BSTATUS = 'Y' AND REF_STATUS = 'CONTENT'
	</select>
	
	<!-- 댓글 갯수 -->
	 <select id = "selectCommentCount" parameterType = "int" resultType = "int">
		SELECT count(*)
		FROM BOARDS
		WHERE BID = #{pbid} AND BSTATUS = 'Y' AND REF_STATUS = 'COMMENT'
	</select>
	
	
	<!-- 댓글 목록 -->
	 <select id = "commentList" parameterType = "int" resultMap = "BoarddResultSet">
		SELECT *
		FROM BOARDS
		WHERE BID = #{pbid} AND BSTATUS = 'Y' AND REF_STATUS = 'COMMENT' 
	</select>
	
	<!-- 댓글을 등록하는 메소드 -->
	<insert id="insertComment" parameterType="Boards">
		INSERT INTO BOARDS
		 VALUES(SEQ_BOARDID.NEXTVAL, #{bid}, #{mid}, #{bcontent}, SYSDATE, #{bstatus}, #{ref_status}, #{ref_bid})
	</insert>
	
	<delete id="deleteComment" parameterType="int">
		DELETE FROM BOARDS WHERE BOARDID = #{boardid}
	
	</delete>
	
	<update id="updateComment" parameterType="Boards">
		UPDATE BOARDS SET BCONTENT = #{bcontent}, BDATE = SYSDATE WHERE BOARDID = #{boardid}
	</update>
	
	<!-- 글에 해당하는 유저 정보를 가져오는 메소드 -->
	 <select id = "selectMemberProfile" parameterType = "int" resultMap = "MemberProfileResultSet">
		SELECT * FROM(SELECT M.MID, M.MNAME, P.EDIT_NAME
		FROM MEMBER M
		JOIN PROFILE P ON(P.MID = M.MID)
		WHERE M.MID = #{mid}
        ORDER BY FDATE DESC
        ) WHERE ROWNUM = 1
	</select>
	
	
	
	<!--  사진 업로드 -->
    
    <insert id="insertBoardFile" parameterType = "Attfile">
		INSERT INTO ATTFILE
		VALUES(SEQ_FID.NEXTVAL, #{boardId}, #{forigin_name}, #{edit_name}, #{file_src}, SYSDATE, 1)
	</insert>
    
    
    	<select id="selectMid" resultType="_int" parameterType="Member">
		SELECT MID FROM MEMBER WHERE MEMAIL = #{mEmail} AND MSTATUS = 'Y'
	</select>
	
	
	<select id="selectBoardId" resultType="_int" parameterType="Board">
		SELECT SEQ_BOARDID.currval FROM DUAL
	</select>
	
	<select id="selectCurrval" resultType="_int">
		SELECT SEQ_BOARDID.currval FROM DUAL
	</select>
	

	<select id = "selectAlbum" parameterType = "AttBoard" resultMap = "AttBoardResultSet">
		SELECT B.BOARDID, MB.BID, M.MID, BCONTENT, BDATE, BSTATUS, REF_STATUS, REF_BID, M.MNAME, FID, FORIGIN_NAME, EDIT_NAME, FILE_SRC, FDATE, FLEVEL
		FROM BOARDS B
		JOIN ATTFILE A ON(B.BOARDID = A.BOARDID)
		JOIN MEMBER_BAND MB ON(MB.MID = B.MID)
		JOIN MEMBER M ON(M.MID = MB.MID)
		WHERE MB.BID = #{bid} AND BSTATUS = 'Y'
	</select>
	

	<!-- 글삭제 -->
	<delete id="deleteContent">
		DELETE FROM BOARDS WHERE BOARDID = #{boardid}  OR REF_BID = #{boardid}
	</delete>

	
	<!-- 글을 신고한 정보를 저장하는 메소드 -->
	<insert id="insertReportContent" parameterType="Report">
		INSERT INTO REPORT
		 VALUES(SEQ_RID.NEXTVAL, #{rcontent}, #{mid}, SYSDATE, #{rlevel}, #{bid}, #{boardid}, #{cid})
	</insert>
	
	<select id= "selectRightSidePhoto" parameterType = "int" resultMap = "AttResultSet">
		SELECT FID, BOARDID, FORIGIN_NAME, EDIT_NAME, FILE_SRC, FDATE, FLEVEL
		FROM ( SELECT ROWNUM RNUM, FID, B.BOARDID, FORIGIN_NAME, EDIT_NAME, FILE_SRC, FDATE, FLEVEL
		FROM ATTFILE A
		JOIN BOARDS B ON(A.BOARDID = B.BOARDID)
		WHERE B.BID = #{pbid}
		ORDER BY FDATE DESC)
		WHERE RNUM <![CDATA[ < ]]> 5
	</select>
	

</mapper>