<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="Main">
	
	<resultMap type="MyBandList" id="MyBand">
		<id property="mid" column="MID"/>
		<result property="bname" column="BNAME"/>
		<result property="memberCount" column="MEMBERCOUNT"/>
		<result property="edit_name" column="EDIT_NAME"/>
		<result property="bid" column="BID"/>
	</resultMap>
	
	<resultMap type="PopularContent" id="PopContent">
		<id property="no" column="NO"/>
		<result property="replyCount" column="REF_COUNT"/>
		<result property="bid" column="BID"/>
		<result property="bname" column="BNAME"/>
		<result property="mid" column="MID"/>
		<result property="mname" column="MNAME"/> 
		<result property="edit_name" column="EDIT_NAME"/>
		<result property="flevel" column="FLEVEL"/>
		<result property="bcontent" column="BCONTENT"/>
		<result property="boardid" column="BOARDID"/>
	</resultMap>
	
	<resultMap type="RecommendContent" id="RcmContent">
		<id property="bid" column="BID"/>
		<result property="bname" column="BNAME"/>
		<result property="cname" column="CNAME"/>
		<result property="edit_name" column="EDIT_NAME"/>
		<result property="bintro" column="BINTRO"/>
	</resultMap>

	<select id="selectMyBand" resultMap="MyBand" parameterType="java.util.ArrayList" resultType="java.util.ArrayList">
      select m.mid, b.bname, c.membercount, p.edit_name, p.fdate, p.bid
      from profile p
      join member_band mb on(mb.bid = p.bid)
      join member m on (m.mid = mb.mid)
      join band b on (p.bid = b.bid)
      join (select count(mid) as membercount, bid
            from member_band
            where istatus = 'Y'
            group by bid
            order by bid asc) c on (c.bid = b.bid)
      where p.bid is not null
      and m.mid = #{mid}
      and mb.istatus = 'Y'
      and (p.bid, p.fdate) in (select bid, max(fdate) from profile  where bid is not null group by bid)
      and b.bstatus = 'Y'
   </select>
	
	<select id="selectPopContent" resultMap="PopContent" parameterType="java.util.ArrayList" resultType="java.util.ArrayList">
      SELECT R.NO, R.REF_COUNT, B.BID, D.BNAME, B.MID, M.MNAME, A.EDIT_NAME, A.FLEVEL, B.BCONTENT, b.boardid
      FROM(SELECT ROWNUM AS NO, C.REF_COUNT, C.REF_BID
           FROM(
              SELECT COUNT(BCONTENT) AS REF_COUNT, REF_BID
              FROM BOARDS
              WHERE REF_STATUS = 'COMMENT'
              AND BSTATUS = 'Y'
              GROUP BY REF_BID
              ORDER BY REF_COUNT DESC) C
          WHERE ROWNUM BETWEEN 1 AND 5) R
      JOIN BOARDS B ON (R.REF_BID = B.BOARDID)
      JOIN BAND D ON (B.BID = D.BID)
      JOIN MEMBER M ON (B.MID = M.MID)
      JOIN ATTFILE A ON (A.BOARDID = B.BOARDID)
      <!-- WHERE D.BOPEN_STATUS = 'PUB' -->
   </select>

	
	<select id="selectRcmContent" resultMap="RcmContent" parameterType="java.util.ArrayList" resultType="java.util.ArrayList">
		SELECT B.BID, B.BNAME, C.CNAME, P.EDIT_NAME, B.BINTRO
		FROM BAND B
		JOIN PROFILE P ON (P.BID = B.BID)
		JOIN CATEGORY C ON (B.CID = C.CID)
		WHERE BSTATUS = 'Y'
		AND BOPEN_STATUS != 'PRV'
		and b.bid NOT IN (select bid
		                  from member_band
		                  WHERE MID = #{mid})
	</select>
	
	<insert id="insertBand" parameterType="Band">
		INSERT INTO BAND
		VALUES(SEQ_BID.NEXTVAL, #{bname}, #{bopen_status}, null, 999, null, 'Y')
	</insert>
	
	<select id="selectBand" parameterType="java.lang.String" resultType="_int">
		SELECT BID
		FROM BAND
		WHERE BNAME = #{bName}
	</select>
	
	<insert id="insertMemberBand" parameterType="MyBandList">
		INSERT INTO MEMBER_BAND
		VALUES(SEQ_MBID.NEXTVAL, #{bid}, #{mid}, SYSDATE, 'Y', 1)
	</insert>
	
	<insert id="insertProfile" parameterType="Profile">
		INSERT INTO PROFILE
		VALUES(SEQ_PID.NEXTVAL, #{originName}, #{editName}, #{fileSrc}, SYSDATE, 2, NULL, #{bid})

	</insert>
</mapper>