<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="Search">
	<resultMap type="Search" id="SearchResultSet">
		<id property="bid" column="BID" />
		<result property="bName" column="BNAME" />
		<result property="bOpen_Status" column="BOPEN_STATUS" />
		<result property="bIntro" column="BINTRO" />
		<result property="mid" column="MID" />
		<result property="mName" column="MNAME" />
		<result property="cName" column="CNAME" />
		<result property="boardId" column="BOARDID" />
		<result property="bContent" column="BCONTENT" />
		<result property="bDate" column="BDATE" />
		<result property="pid" column="PID" />
		<result property="P_edit_Name" column="EDIT_NAME" />
		<result property="P_file_Src" column="FILE_SRC" />
		<result property="fType" column="FTYPE" />
		<result property="fid" column="FID" />
		<result property="A_edit_Name" column="A_EDIT_NAME" />
		<result property="A_file_Src" column="A_File_SRC" />
		<result property="fLevel" column="FLEVEL" />
	</resultMap>
	
	<resultMap type="Ban" id="BanResultSet">
		<id property="banId" column="BID" />
		<result property="bid" column="BID" />
		<result property="mid" column="MID" />
		<result property="banReason" column="BANREASON" />
	</resultMap>
	
	<resultMap type="MyBandList" id="MyBand">
		<id property="memberCount" column="MEMBERCOUNT"/>
		<result property="bname" column="BNAME"/>
		<result property="mid" column="MID"/>
	</resultMap>
	
	<!-- 모든 검색 밴드 리스트 가져오기 -->
	<select id="selectSearchBand" resultMap="SearchResultSet" parameterType="java.util.ArrayList">
	  SELECT BID, BNAME, BOPEN_STATUS, BINTRO, CNAME, PID, EDIT_NAME 
      FROM(                
        SELECT * FROM
      (
      SELECT B.BID, B.BNAME, B.BOPEN_STATUS, B.BINTRO, C.CNAME, P.PID, P.EDIT_NAME, 
            P.FTYPE, P.FILE_SRC, ROWNUM
            FROM BAND B
            JOIN CATEGORY C ON(B.CID = C.CID)
            JOIN PROFILE P ON(B.BID = P.BID)
            WHERE B.BOPEN_STATUS != 'PRV'
            AND B.BSTATUS = 'Y'
            ORDER BY B.BID DESC
      )
         <trim prefix="WHERE" prefixOverrides="AND |OR ">
            <foreach collection="list" item="item" index="index" separator=" " open="" close="">
               OR UPPER(BNAME) LIKE '%'|| UPPER(#{item}) ||'%'
               OR UPPER(BINTRO) LIKE '%'|| UPPER(#{item}) ||'%'
            </foreach>
         </trim>
        )
            <!-- WHERE ROWNUM <![CDATA[ <= ]]> 5 -->
	</select>
	
	<!--검색 밴드 리스트 5개만 가져오기 -->
	<select id="selectFiveBand" resultMap="SearchResultSet" parameterType="Map">
  	  SELECT ROWNUM, BID, BNAME, BOPEN_STATUS, BINTRO, CNAME, PID, EDIT_NAME
      FROM(                
        SELECT ROWNUM AS RNUM, BID, BNAME, BOPEN_STATUS, BINTRO, CNAME, PID, EDIT_NAME 
        FROM
      (
      SELECT B.BID, B.BNAME, B.BOPEN_STATUS, B.BINTRO, C.CNAME, P.PID, P.EDIT_NAME, 
            P.FTYPE, P.FILE_SRC, ROWNUM
            FROM BAND B
            JOIN CATEGORY C ON(B.CID = C.CID)
            JOIN PROFILE P ON(B.BID = P.BID)
            WHERE B.BOPEN_STATUS != 'PRV'
            AND B.BSTATUS = 'Y'
            ORDER BY B.BID DESC
      )
     	<trim prefix="WHERE" prefixOverrides="AND |OR ">
           <foreach item="item" collection="bandList" separator=" " open="" close="">
              OR UPPER(BNAME) LIKE '%'|| UPPER(#{item}) ||'%'
              OR UPPER(BINTRO) LIKE '%'|| UPPER(#{item}) ||'%'
           </foreach>
      	 </trim>
      )
      	WHERE RNUM <![CDATA[ <= ]]> #{endPage}
      	AND RNUM <![CDATA[ >= ]]> #{startPage}
      	
	</select>
	
	<!-- 모든 검색 게시글 리스트 가져오기 -->
	<select id="selectSearchContents" resultMap="SearchResultSet" parameterType="java.util.ArrayList">
		SELECT ROWNUM, BID, BNAME, BOPEN_STATUS, BINTRO, MID, MNAME, 
				CNAME, BOARDID, BCONTENT, BDATE, PID, EDIT_NAME, 
				FTYPE, FILE_SRC, FID, A_EDIT_NAME, A_File_SRC, FLEVEL
		FROM(SELECT *  FROM
		    (SELECT B.BID, B.BNAME, B.BOPEN_STATUS, B.BINTRO, M.MID, M.MNAME, 
		            C.CNAME, BOD.BOARDID, BOD.BCONTENT, BOD.BDATE, P.PID, P.EDIT_NAME, 
		            P.FTYPE, P.FILE_SRC, AT.FID, AT.EDIT_NAME as A_EDIT_NAME, AT.FILE_SRC as A_File_SRC, AT.FLEVEL, ROWNUM
		            FROM BAND B
                    JOIN BOARDS BOD ON(BOD.BID = B.BID)
		            JOIN MEMBER M ON(BOD.MID = M.MID)
		            JOIN CATEGORY C ON(B.CID = C.CID)		            
		            JOIN PROFILE P ON(B.BID = P.BID)
		            RIGHT JOIN ATTFILE AT ON(AT.BOARDID = BOD.BOARDID)
		            WHERE B.BOPEN_STATUS != 'PRV'
		            AND B.BSTATUS = 'Y'
		            ORDER BY BDATE DESC
		    )
		)
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
			<foreach collection="list" item="item" index="index" separator=" " open="" close="">
				OR UPPER(BCONTENT) LIKE '%'||	UPPER(#{item}) ||'%'
			</foreach>
		</trim>
	</select>
	
	<!-- 모든 차단당한 밴 리스트 가져오기 -->
	<select id='selectSearchBan' resultMap='BanResultSet'>
		SELECT BANID, BID, MID, BANREASON FROM BAN
	</select>
	

	<select id='selectMyBand' resultMap='MyBand' parameterType='MyBandList'>
		select memberCount, bname, mid
		from band b
		join (select count(mb.mid) as memberCount, mb.bid
		      from member_band mb
		      group by mb.bid
		      order by mb.BID asc) c on(c.bid = b.bid)
		join (select m.mid, mb.bid
		    from member m
		    join member_band mb on (m.mid = mb.mid)
		    where m.mid = 81) my on (my.bid = b.bid)
	</select>

	<!-- 게시글 5개 가져오기 -->
	<select id='selectFiveContents' resultMap="SearchResultSet" parameterType="Map">
		SELECT BID, BNAME, BOPEN_STATUS, BINTRO, MID, MNAME, 
				CNAME, BOARDID, BCONTENT, BDATE, PID, EDIT_NAME, 
				FTYPE, FILE_SRC, FID, A_EDIT_NAME, A_File_SRC, FLEVEL
		FROM(SELECT ROWNUM AS RNUM, BID, BNAME, BOPEN_STATUS, BINTRO, MID, MNAME, 
				CNAME, BOARDID, BCONTENT, BDATE, PID, EDIT_NAME, 
				FTYPE, FILE_SRC, FID, A_EDIT_NAME, A_File_SRC, FLEVEL  FROM
		    (SELECT B.BID, B.BNAME, B.BOPEN_STATUS, B.BINTRO, M.MID, M.MNAME, 
		            C.CNAME, BOD.BOARDID, BOD.BCONTENT, BOD.BDATE, P.PID, P.EDIT_NAME, 
		            P.FTYPE, P.FILE_SRC, AT.FID, AT.EDIT_NAME as A_EDIT_NAME, AT.FILE_SRC as A_File_SRC, AT.FLEVEL, ROWNUM
		            FROM BAND B
                    JOIN BOARDS BOD ON(BOD.BID = B.BID)
		            JOIN MEMBER M ON(BOD.MID = M.MID)
		            JOIN CATEGORY C ON(B.CID = C.CID)		            
		            JOIN PROFILE P ON(B.BID = P.BID)
		            RIGHT JOIN ATTFILE AT ON(AT.BOARDID = BOD.BOARDID)
		            WHERE B.BOPEN_STATUS != 'PRV'
		            AND B.BSTATUS = 'Y'
		            ORDER BY BDATE DESC
		    )
     	<trim prefix="WHERE" prefixOverrides="AND |OR ">
           <foreach item="item" collection="contentsList" separator=" " open="" close="">
              OR UPPER(BCONTENT) LIKE '%'|| UPPER(#{item}) ||'%'
           </foreach>
      	 </trim>
      )
      	
	</select>
	

</mapper>


















